.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  &.no-top-padding {
    padding-top: 0;
  }
  &__title {
    margin-bottom: 30px;

    color: var(--text-primary-black);
    @include font(28px,700,1.17);
    text-align: center;

    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    @include font(36px,700,1.17);
  }
  }
}
