.clients__list {
  @extend %centeredFlex;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;

  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
    &:nth-child(n) {
      margin-bottom: 0px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  @extend %centeredFlex;
  border: 1px solid var(--social-icon-fill);
  border-radius: 4px;

  fill: var(--social-icon-fill);

  transition: fill 250ms var(--cubic_animation),
    border-color 250ms var(--cubic_animation);

  &:hover,
  &:focus {
    fill: var(--primary-blue);
    border-color: var(--primary-blue);
  }
}

