.main-logo {
  &__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &--white {
    color: var(--text-full-white);
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-main-black);

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 60px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 93px;
    }
  }
  &__address-thumb {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 165px;
    }
  }
}

.address__link {
  transition: color 250ms var(--cubic_animation);
  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
  &--opacity {
    color: var(--opacity-white);
  }
  &--white {
    color: var(--text-full-white);
  }
}

.address {
  font-style: normal;

  &__item {
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
      align-items: normal;
      padding: 0;
    }
  }
}

.social-networks {
  padding-top: 12px;
  &__text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--text-full-white);

    @media screen and (min-width: 1200px) {
        justify-content: normal;
    }
  }
  &__list {
    @extend %centeredFlex;
  }

}

.social-networks__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-networks__link {
  width: 100%;
  height: 100%;
  @extend %centeredFlex;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--bg-header-white);

  transition: background-color 250ms var(--cubic_animation);
  &:hover,
  &:focus {
    background-color: var(--primary-blue);
  }
}

.subscribe {
  width: 100%;

  @media screen and (max-width: 1199px) {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
    justify-content: normal;
  }
}

.subscribe__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 12px;
  }
}

.subscribe__text {
  margin-bottom: 20px;

  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-full-white);
}

.subscribe__email-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bg-main-black);
  color: var(--opacity-white);

  @include font(16px, 400, 1.25);

  outline: none;
  transition: border-color 250ms var(--cubic_animation);
  &:hover,
  &:focus {
    border-color: var(--primary-blue);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  background: var(--primary-blue);
  &__text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #ffffff;
  }
}
