.header {
  border-bottom: 1px solid var(--header-bottom-border);
}

.main-menu,
.navigation__list,
.contact-us,
.navigation {
  display: flex;
  align-items: center;
}

.main-logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  &--blue {
    color: var(--primary-blue);
  }
  &--black {
    color: var(--logo-black);
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-primary-black);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic_animation);

  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
}

.navigation__link--current {
  color: var(--primary-blue);
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;

    background: var(--primary-blue);
    border-radius: 2px;
  }
}

.navigation__item {
  position: relative;
  display: flex;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.contact-us {
  margin-left: auto;
  &__icon {
    fill: currentColor;
  }
  &__item:not(:last-child) {
    margin-right: 40px;
  }
}

.contact-us__link {
  width: 100%;
  height: 100%;

  color: var(--text-primary-grey);
  display: flex;
  align-items: center;
  gap: 10px;

  transition: color 250ms var(--cubic_animation);
  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
}
