.header {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-bottom-border);
  &__container {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;

    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      height: 80px;
    }
    @media screen and (min-width: 1200x) {
      width: 1170px;
      height: 80px;
    }
  }
}

.main-menu,
.navigation__list,
.contact-us,
.navigation {
  display: flex;
  align-items: center;
}

.main-logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  &--blue {
    color: var(--primary-blue);
  }
  &--black {
    color: var(--logo-black);
  }
}

.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-primary-black);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic_animation);

  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
}

.navigation__link--current {
  color: var(--primary-blue);
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;

    background: var(--primary-blue);
    border-radius: 2px;
  }
}

.navigation__item {
  position: relative;
  display: flex;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.contact-us {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.contact-us__link {
  width: 100%;
  height: 100%;

  color: var(--text-primary-grey);
  display: flex;
  align-items: center;
  gap: 10px;

  transition: color 250ms var(--cubic_animation);
  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
  &--mail {
    margin-left: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.1428;
  }
}
