.our-team {
  background-color: var(--bg-secondary-white);
  &__members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__role {
    margin-bottom: 16px;
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
  }
  &__name {
    margin-bottom: 10px;
    text-align: center;

    color: var(--text-primary-black);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
}

.our-team__item {
  width: 100%;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--bg-header-white);

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    &:nth-child(n) {
      margin-bottom: 0px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.social-media {
  @extend %centeredFlex;
}

.social-media__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-media__link {
  @extend %centeredFlex;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--bg-header-white);
  fill: var(--social-icon-fill);

  transition: background-color 250ms var(--cubic_animation),
    fill 250ms var(--cubic_animation);

  &:hover,
  &:focus {
    background-color: var(--primary-blue);
    fill: var(--bg-header-white);
  }
}
